{% extends 'relatorios/base.html' %}
{% block body %}
    {% set relatorio=relatorio or None %}
    {% set errors=errors or None %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br/>

                <div class="well">
                    <h1 class="text-center">{% trans %}Relatorio Form{% endtrans %}</h1>

                    <form action="{{ save_path }}" method="post" role="form">
                        {{ csrf_input() }}
                        {{ form_input(_('Participacao'),'participacao',relatorio.participacao,errors.participacao) }}
                        {{ form_input(_('Geral'),'geral',relatorio.geral,errors.geral) }}
                        {{ form_input(_('Observacao'),'observacao',relatorio.observacao,errors.observacao) }}
                        {{ form_input(_('Horario'),'horario',relatorio.horario,errors.horario) }}
                        {{ form_input(_('Tema'),'tema',relatorio.tema,errors.tema) }}
                        {{ form_input(_('Conteudo'),'conteudo',relatorio.conteudo,errors.conteudo) }}
                        {{ form_input(_('Data'),'data',relatorio.data,errors.data) }}
                        {{ form_input(_('Cincoes'),'cincoes',relatorio.cincoes,errors.cincoes) }}
                        <button type="submit" class="btn btn-success">{% trans %}Save{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}