{% extends 'layout/padrao.html' %}
{% block conteudo %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>{% trans %}Células {% endtrans %}  </h1>
                {% if _logged_user and ('ADMIN' in _logged_user.groups) %}
                <a href="{{ admin_path }}" class="btn btn-success">{% trans %}Admin{% endtrans %}</a>
                {% endif %}
                <hr/>
                <div class="panel panel-default">
                    <div class="panel-heading panel-title">{% trans %}<i class="fa fa-list"></i>  Lista of Celulas{% endtrans %}</div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>{% trans %}Nome{% endtrans %}</th>
                            <th>{% trans %}Data{% endtrans %}</th>
                            <th>{% trans %}Area{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for celula in celulas %}
                            <tr>
                                <td>{{ celula.nome }}</td>
                                <td>{{ celula.data }}</td>
                                <td>{{ celula.area }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}