<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Discipular</title>

    <!--
     Fontawesome - http://fontawesome.io/
     Fornece acesso aos ícones da aplicação
     -->
    <link rel="stylesheet"  href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
<!--    <link rel="stylesheet"  href="static/font-awesome/css/font-awesome.css">-->

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Discipular</a>
            </div>

            <div class="btn-group pull-right" style="margin-top:8px;">
                <button type="button" class="btn btn-default dropdown-toggle btn-primary" data-toggle="dropdown">
                    Menu <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="fa fa-user"></i> Perfil</a></li>
                    <li><a href="#"><i class="fa fa-gear"></i> Configurações</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#"><i class="fa fa-home"></i> Dashboard</a></li>
                    <li><a href="#"><i class="fa fa-child"></i> Usuários</a></li>
                    <li><a href="#"><i class="fa fa-users"></i> Células</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block conteudo %}
                    <h1 class="page-header">Dashboard - Gráficos de Teste</h1>
                    <div class="canvas-holder">
                       <canvas id="myChart" width="640" height="400"></canvas>
                       <canvas id="pie" width="300" height="400"></canvas>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

    <!--
    Chart.js - http://www.chartjs.org/
    Fornece templates de gráficos
    -->
    <script src="http://www.chartjs.org/assets/Chart.min.js"></script>
    <script src="/static/admin/dashboard-admin.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
