{% extends 'layout/padrao.html' %}
{% block conteudo %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}Membros {% endtrans %}  </h1>
                {% if _logged_user and ('ADMIN' in _logged_user.groups) %}
                    <a href="{{ admin_path }}" class="btn btn-success">{% trans %}Admin{% endtrans %}</a>
                {% endif %}
                <hr/>
                <div class="panel panel-default">
                    <div class="panel-heading panel-title">
                        {% trans %}<i class="fa fa-list"></i>  Lista de Membros{% endtrans %}
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{% trans %}Celular{% endtrans %}</th>
                                <th>{% trans %}Email{% endtrans %}</th>
                                <th>{% trans %}Nome{% endtrans %}</th>
                                <th>{% trans %}Célula{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for membro in membros %}
                                <tr>
                                    <td>{{ membro.celular }}</td>
                                    <td>{{ membro.email }}</td>
                                    <td>{{ membro.nome }}</td>
                                    <td>{{ membro.celulaNome }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}