{% extends 'usuarios/base.html' %}
{% block body %}
    {% set usuario=usuario or None %}
    {% set errors=errors or None %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br/>

                <div class="well">
                    <h1 class="text-center">{% trans %}Usuario Form{% endtrans %}</h1>

                    <form action="{{ save_path }}" method="post" role="form">
                        {{ csrf_input() }}
                        {{ form_input(_('Celula'),'celula',usuario.celula,errors.celula) }}
                        {{ form_input(_('Nome'),'nome',usuario.nome,errors.nome) }}
                        {{ form_input(_('Idade'),'idade',usuario.idade,errors.idade) }}
                        {{ form_input(_('Celular'),'celular',usuario.celular,errors.celular) }}
                        {{ form_input(_('Endereco'),'endereco',usuario.endereco,errors.endereco) }}
                        <button type="submit" class="btn btn-success">{% trans %}Save{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}